@font-face {
    font-family: 'DDT';
    src: url("../fonts/DDTRg-Bold.woff2"),
        url("../fonts/DDTBk-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'DDT';
    src: url("../fonts/DDTBk-Regular.woff2"),
        url("../fonts/DDTBk-Regular.woff");
    font-weight: 350;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'DDT';
    src: url("../fonts/DDTBg-Regular.woff2"),
        url("../fonts/DDTRg-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url("../fonts/Exo2-Bold.woff2"),
        url("../fonts/Exo2-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url("../fonts/Exo2-Medium.woff2"),
        url("../fonts/Exo2-Medium.woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-Regular.woff2"),
        url("../fonts/Inter-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-Black.woff2"),
        url("../fonts/ProximaNova-Black.woff");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-Bold.woff2"),
        url("../fonts/ProximaNova-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-Regular.woff2"),
        url("../fonts/ProximaNova-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-Light.woff2"),
        url("../fonts/ProximaNova-Light.woff");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url("../fonts/ProximaSoftExCn-Bold.woff2"),
        url("../fonts/ProximaSoftExCn-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url("../fonts/ProximaSoftExCn-DemiBold.woff2"),
        url("../fonts/ProximaSoftExCn-DemiBold.woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url("../fonts/ProximaSoftExCn-Medium.woff2"),
        url("../fonts/ProximaSoftExCn-Medium.woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url("../fonts/ProximaSoftExCn-Regular.woff2"),
        url("../fonts/ProximaSoftExCn-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url("../fonts/ProximaSoftExCn-Light.woff2"),
        url("../fonts/ProximaSoftExCn-Light.woff");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

/*Обнуление*/
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'DDT', sans-serif;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #EFEFEF;
    opacity: 1;
    
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #EFEFEF;
    
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #EFEFEF;
    
}

.nav-up {
    top: -40px;
}
/*--------------------*/
#navbar {
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.753); /* Black background color */
    position: fixed; /* Make it stick/fixed */ 
    top: 0; 
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
input {
    padding-left: 20px;
  }
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.nav {

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 94px;
    height: 118px;
}

/*.nav_content {}*/

.nav_content-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #094FA4;
}

.call-centre-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #616161;
}

.call-centre {
    margin-left: 100px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.telephone {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.telephone img {
    width: 18.27px;
    height: 18.27px;
}

.telephone p {
    margin: 0 5px;
    font-family: 'DDT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #616161;
}

.d-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-arrow img {
    width: 8px;
    height: 8px;
}

.mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail img {
    height: 15.331514358520508px;
    width: 24.520084381103516px;
    margin: 0 5px;
}

.mail p {

    margin-bottom: 5px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #616161;
}

.nav_content-up button {
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #094FA4;
    max-width: 210px;
    width: 100%;
    margin-left: 60px;
    border: 1px solid #094FA4;
    border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    transition: .1s linear;

}
.nav_content-up button:hover {
    background-color: #094FA4;
    color: #fff;
    border-color: transparent;
  }
.nav_content hr {
    width: 1093px;
    height: 1px;
    background: #D8D8D8;
    margin: 9px auto;
}

.degree {
    margin: 0 9px;
    width: 0px;
    height: 20.41px;
    background: #424B5A;
    border: 1px solid #424B5A;
}

.nav_content-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-left {
    width: 740px;
}

.nav_content-down ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_content-down li {
    text-align: center;

}

.nav_content-down a {
    font-size: 16px;
    text-transform: uppercase;
    color: #151515;
}

.search {
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 318px;
    height: 40px;
    background: #F1F1F1;
    border-radius: 4px;

}
.header__search {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background: #F1F1F1;
    border-radius: 4px;
    max-width: 300px;
    width: 100%;
    padding: 11px 35px 11px 10px;
  }
  
  .header__search::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url('../img/search.svg');
  }
  
  .header__input {
    font-family: 'Inter';
    width: 100%;
    background-color: transparent;
    font-size: 16px;
  }
  
  .header__input::placeholder {
    color: #787878;
    padding: 0;
    font-size: 14px;
  }
  
  .header__search img {
    width: 20px;
  }
.searchbar::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1;
    /* Firefox */
}

.searchbar:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #787878;
}

.searchbar::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #787878;
}

.searchbar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    color: #787878;
    background-color: #F1F1F1;
}


.search_button {
    width: 18.28px;
    height: 18.28px;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}


/*S E C T I O N*/

.main {
    margin-top: 120px;
    height: 718px;
    background: url("../img/cover-1-7.png") no-repeat center bottom / cover;
    position: relative;
}

.blue_box {
    margin-left: 120px;
    width: 700px;
    height: 718px;

    background: linear-gradient(178.97deg, #094FA4 0.89%, rgba(9, 79, 164, 0.2) 101.12%);
    backdrop-filter: blur(10px);
}

.blue_box h1 {
    max-width: 500px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    /* or 100% */

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.blue_box p {
    margin-top: 25px;
    width: 665.45px;
    height: 24px;


    font-family: 'Proxima Soft';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.centre {
    margin-left: 95px;
    padding-top: 265px;
}

.more {
    cursor: pointer;
    transform: rotate(270deg);
    color: #FFFFFF;
    margin-left: -600px;
    margin-top: -364px;
    flex-wrap: wrap;
}

.more h4 {
    width: 224px;
    font-family: 'Proxima Soft';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.305em;

    color: #FFFFFF;

    margin-left: 75px;
    margin-bottom: 10px;
}

.header-deco {
    width: 112px;
    height: 0px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.circle {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
}


/*S E C O N D*/
.deco {
    margin: 0 auto;
    width: 64px;
    height: 4px;
    /* синий */
    background: #094FA4;
}

.title {
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #151515;
}

.goods {
    display: flex;
    margin: 35px auto;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}

.good {
    position: relative;
    border: solid #d8d8d800;
    padding: 15px;
    display: inline-block;
    max-width: 350;
    height: 515px;
    margin: 15px;
    /*border :solid red ;*/
    border-radius: 10px;
}

.good:hover {
    cursor: pointer;
    border: solid #D8D8D8;
    padding: 15px;
}

.good .deco {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: auto;
    width: 64px;
    height: 4px;
    /* синий */
    background: #094FA4;
}

.good h3 {
    margin-top: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    /* identical to box height, or 222% */


    color: #151515;
}

.econom {
    position: absolute;
    width: 154px;
    height: 35px;
    margin-top: -335px;
    margin-left: 15px;
    background: #FF0000;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.econom p {


    font-family: 'Proxima Soft';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 2.5px;

    color: #FFFFFF;

}

.right {
    transform: rotate(90deg);
    width: 25px;
    height: 25px;
}

.new_price {
    display: flex;
    font-family: 'Proxima Soft';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    /* identical to box height, or 170% */

    letter-spacing: 1.2px;
    /* синий */

    color: #094FA4;
}

.old_price {
    margin-right: 50px;
    font-family: 'Proxima Soft';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    /* identical to box height, or 170% */

    text-decoration-line: line-through;

    color: #8B929A;
}





/*about_us-digit*/




.row {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 1230px;
    position: relative;
    flex-wrap: wrap;
}

.col-4 {
    /*display: inline-block;*/
    max-width: 240px;
    max-height: 150px;
    margin: 25px;
    border-radius: 10px;
}

.col-4 h3 {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 41px;
    /* identical to box height, or 94% */


    /* синий */

    color: #094FA4;
}

.col-4 p {
    font-style: normal;
    font-weight: 350;
    font-size: 17px;
    line-height: 24px;
    /* or 138% */


    color: #151515;
}


/*L I Z I N G*/
.title2 {
    padding-top: 100px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title2 h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

.deco2 {
    margin: 0 auto;
    width: 64px;
    height: 4px;
    /* белый, а не синий */
    background: #ffffff;
    margin-bottom: 35px;
}

.lizing {
    margin-top: 60px;
    height: 718px;
    background: url("../img/cover-2.png") no-repeat center bottom / cover;
    position: relative;
}

.lizing p {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    margin-bottom: 10px;
}

.lizing_up {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lizing_group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 700px;
    align-items: center;
}

.lizing_group form {
    margin: 20px auto;
}

.lizing_group-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.lizing_group button {
    width: 220px;
    height: 50px;
    /* синий */

    background: #094FA4;
    border-radius: 5px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lizing_group-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-3 {
    width: 220px;
    height: 48px;
    background: rgba(237, 237, 237, 0.4);
    border-radius: 10px;
}

.lizing_group-down {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 698px;
    height: 94px;
    background: rgba(237, 237, 237, 0.4);
    border-radius: 10px;
}



/*about_us*/
.title3 {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.title3 h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #151515;
}

.deco3 {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 45px;
    width: 64px;
    height: 4px;
    /* синий */
    background: #094FA4;
}

.about_us {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_us img {
    width: 614px;
    height: 580px;
}


.about_us-company {
    margin-left: 80px;
}

.lil_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;

    margin: 0 auto;
}

.about_us-company button {
    width: 220px;
    height: 50px;
    background: #094FA4;
    border-radius: 5px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

.text {
    max-width: 525px;
}

.text p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */


    color: #444444;
}

/*call_back*/


.call_back {
    height: 718px;
    background: url("../img/cover-3.png") no-repeat center bottom / cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.call_back-in {

    max-width: 650px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.call_back-in h2 {
    width: 100%;

    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.call_back-in h4 {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    text-align: center;

    color: #FFFFFF;
}

.row2 {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 455px;
}

.decor {

    margin: 20px auto;
    width: 64px;
    height: 4px;
    background: #FFFFFF;
}

.call_back-in h4 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.col-2 {
    width: 220px;
    height: 48px;
    background: rgba(237, 237, 237, 0.4);
    border-radius: 10px;
}

.call_back-in form {
    width: 700px;
}

.call_back-privacy {
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.call_back-privacy p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    text-align: center;

    color: #FFFFFF;
}

.call_back-in-btn {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call_back-in button {
    width: 220px;
    height: 50px;
    background: #094FA4;
    border-radius: 5px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}



/*P A R T N E R S*/

.mb {
    margin-top: 50px;
}

.col-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 125px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}



/*F O O T E R*/
footer {
    margin-top: 100px;
    width: 100%;
    height: 465px;
    color: #fff;

    background: #151515;
}

.footer_up {
    padding-top: 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_up-left h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;

    color: #F2F5F7;
}

.footer_up-left p {
    margin-top: 5px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
}

.footer_up-right button {
    width: 211px;
    height: 38px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #151515;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer hr {
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background: #545454;
}

.footer_middle {
    margin-top: 35px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_middle-left h4 {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */


    color: #FFFFFF;

}

.footer_middle-centre {
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_middle-centre2 {
    margin-right: -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col2 a h4 {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    margin-bottom: 8px;

    color: #FFFFFF;

}

.col2 a p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    /* or 179% */
    margin-bottom: 3px;

    color: #FFFFFF;
}

.footer_deco {
    margin: 10px auto 20px 0;
    width: 50px;
    height: 2px;
    background: #FFFFFF;
}

.contact {
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-4 {
    width: 130px;
    margin-bottom: 10px;
}

.contact-4 p {
    margin-bottom: -5px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */


    color: #FFFFFF;
}

.contact-4 h4 {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */


    color: #FFFFFF;

}

.footer_middle-right a p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    /* or 179% */
    margin: 5px;

    color: #FFFFFF;
}

.footer_down {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_down-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_down-left p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.footer_down-right a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1.4px solid #FFFFFF;
    margin-left: 10px;
}

.footer_down-right p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    color: #FFFFFF;

}

.menu-open {
    display: none;
}
header .mobile-nav{
   display: none;
}
.nav .show-menu {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
   
    
    width: 50%;
    margin-left: 60px;
}

/*A D A P T I V E*/

/*
@media (max-width:1200px) {
    body{
        padding: calc(20px + (50-20) * ((100vw-320px) / (1200-320)));
        font-size: calc(20px + (30-20) * ((100vw-320px) / (1200-320)));
        margin-bottom: calc(10px + (20-10) * ((100vw-320px) / (1200-320)));;
    }
    
}
*/
/*
/* Responsive starts here */
@media screen and (max-width: 1400px) {
    .container {
        width: 1300px;
    }

    .row {
        width: 1300px;
    }

    .menu-open {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: calc(20px + (30-20) * ((100vw-320px) / (1200-320)));
    }
    .main {
        margin-top: 133px;
    }
    .nav_content-down a {
        font-size: 14px;
    }
    .blue {
        font-size: 14px;
    }
    .call-centre-p {
        font-size: 13px;
    }
    .telephone img {
        width: 17.27px;
        height: 17.27px;
    }
    .telephone p {
        font-size: 13px;
    }
    .d-arrow img {
        width: 11px;
    }
    .mail img {
        width: 20px;
    }
    .mail p {
        font-size: 13px;
    }
    .header__search {
        max-width: 210px;
    }
    .menu-open {
        display: none;
    }

    .logo {
        margin-top: 15px;

    }

    .logo img {
        width: 80%;
        height: 80%;
    }

    .l-left {
        width: 600px;
    }

    .container {
        width: 960px;
    }

    .call-centre {
        margin-left: 0px;
        width: 486px;
    }

    .nav_content hr {
        width: 860px;
    }

    .nav_content {
        width: 960px;
    }

    .search {
        width: 225px;
    }

    .blue_box {
        margin-left: 35px;
        width: 515px;
    }

    .centre {
        margin-left: 25px;
    }

    .more {
        margin-left: -432px;
        margin-top: -185px;
    }

    .row {
        width: 920px;
    }

    .col-5 {
        margin-top: 15px;
    }

    .about_us img {
        width: 614px;
        height: 455px;
    }
}

@media screen and (max-width: 991px) {
    .logo img {
        width: 60px;
    }
    .logo {
        width: 94px;
        height: 100px;
    }
    .circle img {
        width: 60px;
    }

    .nav_content {
        display: none;
    }

    .menu-open {
        display: block;
    }

    .blue_box h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .row {
        width: 520px;
    }

    .col-4 {
        max-width: 150px;
    }

    .about_us img {
        max-width: 300px;
        border-radius: 5px;
    }

    .container {
        width: 720px;
    }

    .footer_middle-centre {
        margin-left: 0px;
    }

    .contact {
        max-width: 265px;
    }

    .footer_middle-centre2 {
        margin-right: 0px;
    }
}

@media screen and (max-width: 768px) {
    .about_us img {
        width: 80%;
        height: 80%;
        border-radius: 5px;
    }
    .nav_content {
        display: none;
    }
    .menu-open {
        display: block;
    }
}


@media screen and (max-width: 575px) {
    .second {
        margin-top: -80px;
    }
    .call-centre {
        margin-left: 0px;
        width: 229px;
    }
    .call-centre-p {
        font-size: 7px;
        line-height: 8px;
    }
    .telephone img {
        width: 8.27px;
        height: 8.27px;
    }
    .telephone p {
        margin: 0 5px;
        font-size: 7px;
        line-height: 8px;
    }
    .degree {
        margin: 0 5px;
        height: 13.41px;
    }
    .mail img {
        height: 8.331514358520508px;
        width: 10.520084381103516px;
        margin: 0 5px;
    }
    .mail p {
        margin-bottom: 5px;
        font-size: 7px;
        line-height: 8px;
    }
    .container {
        width: 300px;
    }

    .logo {
        margin-top: 5px;
        width: 94px;
        height: 40px;
    }

    .logo img {
        width: 30px;
    }

    .circle img {
        width: 30px;
        margin-right: -15px;
        margin-bottom: -15px;
    }

    .main {
        height: 320px;
    }

    .blue_box {
        margin-left: 5px;
        width: 170px;
        height: 320px;
    }

    .blue_box h1 {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 5px;
    }

    .blue_box p {
        margin-top: 5px;
        font-size: 13px;
    }

    .more {
        margin-left: -155px;
        margin-top: -35px;
    }

    .more h4 {
        font-size: 8px;
        margin-bottom: 0;
        margin-left: 25px;
        margin-bottom: -6px;
    }

    .header-deco {
        width: 50px;
    }

    .centre {
        padding-top: 125px;
        margin-left: 5px;
    }

    .title h2 {
        font-size: 15px;
    }

    .deco {
        margin: 0 auto;
        width: 50px;
        margin-top: -35px;
    }

    .goods {
        display: flex;
        margin: 0px auto;
    }

    .good {
        padding: 7px;
        max-width: 175px;
        height: 225px;
        margin: 7px;
    }

    .good img {
        width: 100%;
    }

    .good:hover {
        padding: 7px;
    }

    .good .deco {
        margin-top: 2px;
        margin-bottom: 5px;
        width: 32px;
        height: 2px;
    }

    .good h3 {
        margin-top: 10px;
        font-size: 9px;
        line-height: 20px;
    }

    .econom {
        position: absolute;
        width: 75px;
        height: 17px;
        margin-top: -145px;
        margin-left: 5px;
    }

    .econom p {
        font-size: 8px;
        line-height: 8px;
        letter-spacing: 1px;
    }

    .good h3 {
        margin-top: 0px;
    }

    .new_price {
        margin-top: -5px;
    }

    .right {
        width: 13px;
        height: 13px;
        margin-left: -72px;
    }

    .new_price {
        display: flex;
        font-size: 10px;
        line-height: 17px;
        letter-spacing: 0.5px;
    }

    .old_price {
        margin-right: 15px;
        font-size: 10px;
        line-height: 17px;
    }

    .about_us-digit {
        margin-top: -90px;
    }

    .row {
        margin-top: 10px;
        width: 315px;
    }

    .col-4 {
        /*display: inline-block;*/
        width: 120px;
        height: 70px;
        margin: 12px;
        border-radius: 5px;
    }

    .col-4 h3 {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 20px;
    }

    .col-4 p {
        font-size: 8px;
        line-height: 12px;
    }




    /*L I Z I N G*/
    .lizing {
        margin-top: -40px;
        height: 260px;
    }

    .title2 {
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .title2 h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .deco2 {
        width: 32px;
        height: 2px;
        margin-bottom: 15px;
    }

    .lizing p {
        font-size: 9px;
        line-height: 12px;
        margin-bottom: 5px;
    }

    .lizing_up {
        max-width: 260px;
        margin: 0 auto;
    }

    .lizing_group {
        width: 300px;
    }

    .lizing_group form {
        margin: 10px auto;
    }

    .lizing_group-btn {
        margin-top: 15px;
    }

    .lizing_group button {
        width: 110px;
        height: 25px;
        border-radius: 3px;
        font-size: 7px;
        line-height: 8px;
        letter-spacing: 0.02em;
    }

    .col-3 {
        width: 83px;
        height: 12px;
        border-radius: 3px;
    }

    .lizing_group-down {
        margin: 5px auto;
        width: 260px;
        height: 50px;
        border-radius: 3px;
    }

    ::placeholder {
        font-size: 7px;
        line-height: 7px;
        padding-left: 5px;
    }

    :-ms-input-placeholder {
        font-size: 7px;
        line-height: 7px;
        padding-left: 5px;
    }

    ::-ms-input-placeholder {
        font-size: 7px;
        line-height: 7px;
        padding-left: 5px;
    }


    /*A B O U T  U S*/

    .title3 {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .title3 h2 {
        margin: 0 auto;
        font-size: 20px;
        line-height: 20px;
    }

    .deco3 {
        width: 32px;
        height: 2px;
        margin: -10px auto 15px auto;
    }

    .about_us {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about_us img {
        margin: 0 auto;
        width: 80%;
        height: 80%;
        border-radius: 5px;
    }


    .about_us-company {
        margin: 0 auto;
    }

    .lil_container {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
    }

    .about_us-company button {
        width: 110px;
        height: 25px;
        border-radius: 3px;

        font-size: 7px;
        line-height: 8px;
        letter-spacing: 0.02em;
        margin: 15px auto 0 auto;
    }

    .text {
        max-width: 200px;
    }

    .text p {
        font-size: 9px;
        line-height: 100%;
    }

    /*C A L L  B A C K*/


    .call_back {
        margin-bottom: -80px;
        height: 255px;
    }

    .call_back-in {
        width: 300px;
    }

    .call_back-in h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .call_back-in h4 {
        font-size: 9px;
        line-height: 12px;
    }

    .row2 {
        margin: 10px auto;
        width: 210px;
    }

    .decor {
        margin: 10px auto;
        width: 34px;
        height: 2px;
    }

    .col-2 {
        width: 100px;
        height: 24px;
        border-radius: 5px;
    }

    .call_back-in form {
        width: 350px;
    }

    .call_back-privacy {
        width: 120px;
    }

    .call_back-privacy img {
        width: 15px;
    }

    .call_back-privacy p {
        font-size: 7px;
        line-height: 9px;
    }

    .call_back-in-btn {
        margin-top: 10px;
    }

    .call_back-in button {
        width: 100px;
        height: 25px;
        border-radius: 3px;
        font-size: 7px;
        line-height: 8px;
        letter-spacing: 0.02em;
    }

    /* P A R T N E R S*/

    .mb {
        margin-top: 5px;
        width: 246px;
    }

    .col-5 {
        width: 115px;
        height: 65px;
        border-radius: 3px;
        margin-top: 15px;
    }

    .col-5 img {

        height: 33px;
    }

    /*F O O T E R*/
    footer {
        margin-top: 50px;
        height: 325px;
    }

    .footer_middle-centre {
        margin-left: -55px;
    }

    .contact {
        width: 125px;
    }

    .contact-4 {
        width: 65px;
        margin-bottom: 5px;
    }


    footer .container {
        width: 280px;
    }

    .footer_up {
        padding-top: 20px;
        margin-bottom: 15px;
    }

    .footer_up-left h2 {
        font-size: 18px;
        line-height: 22px;
    }

    .footer_up-left p {
        margin-top: 3px;
        font-size: 8px;
        line-height: 12px;
    }

    .footer_up-right button {
        width: 106px;
        height: 19px;
        border-radius: 3px;
        font-size: 7px;
        line-height: 8px;

    }

    .footer_middle {
        margin-top: 17px;
        margin-bottom: 22px;
    }

    .footer_middle-left h4 {
        font-size: 9px;
        line-height: 12px;
    }

    .footer_middle-centre2 {
        margin-right: 0px;
    }

    .col2 a h4 {
        font-size: 9px;
        line-height: 12px;
        margin-bottom: 4px;
    }

    .col2 a p {
        font-size: 7px;
        line-height: 12px;
        margin-bottom: 2px;
    }

    .footer_deco {
        margin: 5px auto 10px 0;
        width: 25px;
        height: 2px;
    }




    .contact-4 p {
        margin-bottom: -3px;
        font-size: 7px;
        line-height: 12px;
    }

    .contact-4 h4 {
        font-size: 7px;
        line-height: 12px;
    }

    .footer_middle-right a p {
        font-size: 7px;
        line-height: 12px;
        margin: 3px;
    }

    .footer_down {
        margin-top: 5px;
    }

    .footer_down-left p {
        font-size: 7px;
        line-height: 8px;
    }

    .footer_down-right a {
        width: 15px;
        height: 15px;
        margin-left: 5px;
    }

    .footer_down-right a img {
        width: 8px;
        height: 8px;
    }

    .footer_down-right p {
        font-size: 7px;
        line-height: 12px;
    }
}
